.LoaderGrid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
  }
  
  .LoaderGrid .Cube {
    width: 33%;
    height: 33%;
    background-color: rgba(255, 187, 0, 0.931);
    float: left;
    -webkit-animation: cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .LoaderGrid  .cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .LoaderGrid  .cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .LoaderGrid  .cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .LoaderGrid  .cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .LoaderGrid  .cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .LoaderGrid  .cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .LoaderGrid  .cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .LoaderGrid  .cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .LoaderGrid  .cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }